on:
  pull_request:
  push:
   branches:
     - main

jobs:
  build-sample-project:
    name: Build sample project
    strategy:
      matrix:
        system: [windows-latest, ubuntu-latest, macos-latest]
      fail-fast: false
    runs-on: ${{ matrix.system }}
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-node@v3
        with:
          node-version: current
      - name: Restore cache
        uses: actions/cache@v3
        id: restore-cache
        with:
          # The entire ~/.esy directory has to be cached because esy's
          # import/export commands don't import/export the Melange JS runtime
          # files
          path: ~/.esy
          key: ${{ matrix.system }}-esy-${{ hashFiles('esy.lock/index.json') }}
          restore-keys: |
            ${{ matrix.system }}-esy-
      - name: npm install
        run: npm install
      # Separating the esy steps provides more fine-grained insight when
      # debugging failed jobs
      - name: esy install
        run: npx esy install
      - name: Build esy dependencies
        run: npx esy build-dependencies
      - name: Export esy dependencies for local cache warm up
        run: npx esy export-dependencies
      - uses: actions/upload-artifact@v3
        with:
          name: cache-${{matrix.system}}
          path: ./_export
      - name: rename _export
        run: mv _export cache-${{matrix.system}}
      - name: Build project
        run: npx esy build --release
      - name: Bundle JS app
        run: npm run bundle
      - name: Create a Release
        uses: elgohr/Github-Release-Action@v5
        if: github.ref_name == 'main'
        env:
          GITHUB_TOKEN: ${{ secrets.RELEASE_TOKEN }}
        with:
          title: dev-${{ github.sha }}
      - name: Persist tag name as Github Output
        id: persistTagName
        run: echo tagName=$(date "+%Y%m%d%H%M%S") >> "$GITHUB_OUTPUT"
        # Because Github-Release-Action doesn't let us control the tag name
        # So we do compute the tag name exactly like it does
        # Refer: https://github.com/elgohr/Github-Release-Action/blob/3fed620eb5e049c09eade024832d074a6ad15457/entrypoint.sh#L7C40-L7C61
      - name: Upload to release
        uses: softprops/action-gh-release@v1
        if: github.ref_name == 'main'
        with:
          token: ${{ secrets.RELEASE_TOKEN }}
          prerelease: true
          files: cache-${{matrix.system}}
          name: dev-${{ github.sha }}
          tag_name: ${{ steps.persistTagName.outputs.tagName }}
